BasedOnStyle: LLVM

Standard: Latest

AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: TopLevelDefinitions
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma
